.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Calendar
.week-component{
  display: flex;
  flex-wrap: nowrap;
  .weeknumber, .week{
    flex-grow: 1;
    flex-basis: 10%;
    height: 40px;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
  .weeknumber{
    background-color: darkslategrey;
  }
  .week{
    &:nth-child(even){
      background-color: aqua;
    }
    &:nth-child(odd){
      background-color: cadetblue;
    }
  }
}
